body {
	margin: 0;
	padding: 0;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 18px;
}
.nav {
	background-color: #595959;
	color:#ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}
.nav> li {
	display: inline-block;
	padding:0 25px 0 25px;
}
.nav> li > a {
	text-decoration: none;
	color:#ffffff;
}
.nav > li > a:hover{
		color:#c1c1c1;
}
 /* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width : 300px ){
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 

footer {
	background-color: dimgray
}
#footer_container {
	max-width: 940px;
	height: 100px;
	margin: 0 auto;
	padding-top: 2%;
}
.footer {
	list-style-type: none
}
.footer li a {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 15px;
	display: inline;
	float: right;
	padding: 8px;
	color: white;
	text-decoration: none;
	-o-transition :.5s;
	-mx-transition :.5s;
	-moz-transition :.5s;
	-webkit-transition :.5s;
	transition: .5s;
}
.footer li a:hover{
	color: lightgrey;
}
.Copyright_text{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	font-weight: 400;
	padding-top: 2%;
	float: left;
	line-height: 0.5cm;
	text-transform: uppercase;
	font-size: 0.30cm;
	color: lightgrey;
}
.logo{
	padding-top: 18px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
form{padding-top: 120px;
	text-align: center;
	font-size: 30px;}
input{width: 250px;
	height: 40px;
	font-size: 30px;}